TURSO_DATABASE_URL="libsql://<db-name>-<org>.turso.io"
TURSO_AUTH_TOKEN="your-turso-auth-token"
JWT_SECRET="generate-with-openssl-rand-base64-32"
ADMIN_SRNS="PES2UG25CS001,PES2UG25CS002"
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-sa@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID="your-google-sheet-id"
